h1 {
 text-align: center;   
 background-color: rgb(247, 246, 244);
 border-radius: 10px;
 width: 300px;
 display: flex;
 justify-content: center;
 font-size: xx-large;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 border: solid;
    }

.items{
    display: flex;
    text-align: center;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}    

.corbeille{
    width: 30px;
}

.coeur{width: 30px;}



